<footer>
        <p><a href="#top">Inapoi la inceputul paginii</a></p>
        <address>
            <i class="fa-solid fa-phone"></i>
            Telefon:
            <a href="tel:+40770630217">+40 770 630 217</a>
            <br>
            Adresa:
            <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">
                Strada Cartilor nr. 10<br>
                Bucuresti, Romania
            </a>
            <br>
            Email:
            <a href="mailto:contact@bookland.ro">
                contact@bookland.ro

            </a>
            <br>
            Whatsapp:
            <a href="https://wa.me/40770630217" target="_blank">
                Scrie-ne pe Whatsapp
            </a>


        </address>

        <p><small>Copyright &copy;<time datetime="2026-03-08">8 martie 2026</time></small></p>
    </footer>
    <a href="#top" id="link-top">
        <span class="triunghi">&#5123;</span>
        <span class="tooltip">Du-mă înapoi la început</span>
    </a>